#menu {
    background-color:darkgreen;
           
  }
  #menu a{
    font-size: 18px;
    color: gold;
  }
  #menu button{
    font-size: 18px;
           
  }
  
  .dropdown-menu a{
    color: black !important;
  }
 